<h2 class="center-xs inicio">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field inicio center-xs">
    <p class="inicio"><%= f.label :Correo %><br /></p>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field inicio center-xs">
    <p class="inicio"><%= f.label :Contraseña %> <i>(Deja en blancosi tu no quieres cambiar la contraseña)</i><br /></p>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
        <p class="inicio"><em><%= @minimum_password_length %> caracteres minimo</em></p>
    <% end %>
  </div>

  <div class="field inicio center-xs">
    <p class="inicio"><%= f.label :Confirmar_contraseña %><br /></p>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field inicio center-xs">
  <p class="inicio"><%= f.label :Contraseña_actual %> <i>(Tu necesitas poner tu contraseña anterior para confirmar el cambio)</i><br /></p>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions center-xs err">
    <%= f.submit "Actualizar",class: "boton" %>
  </div>
  <h3 class="center-xs inicio">Cancelar mi cuenta</h3>

  <p class="center-xs inicio">No te gusto? </p>
  <p class="inicio center-xs"> <%= button_to "Cancelar mi cuenta", user_registration_path, data: { confirm: "Estas seguro que deseas cancelar la cuenta?" }, method: :delete %></p>
  <p class="cente-xs inicio"><%= link_to "regresar", :back %></p>
<% end %>
