<div class="center-xs field",id="bus">
  <%= form_tag articles_path, method: :get do %>
    <%= text_field_tag :keyword,nil,placeholder: "¿Que estas buscando?" %>
    <%= content_tag :button,class:"btn", type: :submit do%>
      Buscar
    <% end %>
  <% end %>
</div>

    <div id="my-div3">
      <% @articles.reverse.each do |article| %>
      <div id="jquery_jplayer_<%=article.id%>" class="cp-jplayer center-xs"></div>
        <% if article.privacida == "Publico" %>
          <div class="center-xs col-md inicio">
              <h1 class="inicio"><%=link_to article.title, article%></h1>
              <h5 class="inicio">Artista: <%=article.artista%></h5>
              <div>
                <%=article.body%>
                <% if user_signed_in? and article.user== current_user %>
                  <div class="ini"><%= link_to "Eliminar", article, method: :delete, class:"red"%></a></div>
                <% end %>
              </div>
            </div>
        <% end %>
        <% if  article.privacida == "Privado" and article.user == current_user %>
            <div class="center-xs col-md inicio">
              <h1 class="inicio"><%=link_to article.title, article%></h1>
              <h5 class="inicio">Artista: <%=article.artista%></h5>
              <div>
                <%=article.body%>
                <% if not article.user == nil %>
                  <p class="inicio center-xs">subido por: <%=article.user.email%></p>
                  <% else %>
                  <p>subido por: Cuenta cerrada</p>
                    <% end %>
                  <% if article.user== current_user %>
                    <div class="ini"><%= link_to "Eliminar", article, method: :delete, class:"red"%></a></div>
                  <% end %>
                </div>
              </div>
        <% end %>
        <% if article.privacida == "Compartido" and user_signed_in? %>
              <div class="center-xs col-md inicio">
                <h1 class="inicio"><%=link_to article.title, article%></h1>
                <h5 class="inicio">Artista: <%=article.artista%></h5>
                <div>
                  <%=article.body%>
                  <% if not article.user == nil %>
                    <p class="inicio center-xs">subido por: <%=article.user.email%></p>
                  <% else %>
                    <p>subido por: Cuenta cerrada</p>
                  <% end %>
                    <p class="inicio center-xs">visitas: <%=article.visit_count%></p>
                  <% if article.user == current_user %>
                    <div class="ini"><%= link_to "Eliminar", article, method: :delete, class:"red"%></a></div>
                  <% end %>
                </div>
              </div>
            <% end %>

          <%end%>
      </div>
