<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/jquery.transform2d.js"></script>
<script type="text/javascript" src="/js/jquery.grab.js"></script>
<script type="text/javascript" src="/js/mod.csstransforms.min.js"></script>
<script type="text/javascript" src="/js/circle.player.js"></script>
<h1 class="inicio center-xs col-md"><%= @article.title%></h1>
<div class="inicio center-xs col-md">
  <h5 class="inicio">Artista: <%=@article.artista%></h5>
  <h5 class="inicio">Tamaño: <%=@article.tamano%> MG</h5>
  <h5 class="inicio">album: <%=@article.album%></h5>
  <h5 class="inicio">Año de estreno: <%=@article.ano%></h5>
  <h5 class="inicio">Duración de la canción: <%=@article.tiempo%></h5>
  <h8 class="err inicio">Descripción:</h8>
  <h8 class="inicio"><%=@article.body%></h8>


    <!--
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="js/jquery.transform2d.js"></script>
    <script type="text/javascript" src="js/jquery.grab.js"></script>
    <script type="text/javascript" src="js/mod.csstransforms.min.js"></script>
    <script type="text/javascript" src="js/circle.player.js"></script>
  -->
    <!-- jquery_jplayer_1 is the id here -->
    <div id="jquery_jplayer_1" class="cp-jplayer center-xs"></div>

    <!-- paste the lines below as it is, it will be required by the circle player -->
    <div style="width: 180px; margin: 0 auto;">
    <div id="cp_container_1" class="center-xs cp-container">
     <div class="center-xs cp-buffer-holder">
       <div class="center-xs cp-buffer-1"></div>
       <div class="center-xs cp-buffer-2"></div>
     </div>
     <div class="center-xs cp-progress-holder">
       <div class="center-xs cp-progress-1"></div>
       <div class="center-xs cp-progress-2"></div>
     </div>
     <div class="center-xs">
       <div class="center-xs cp-circle-control "></div>
        <ul class="cp-controls">
          <li><a class="cp-play reproductor_boton" tabindex="1"></a></li>

          <li class="center-xs"><a class="cp-pause boton_pausa" style="display:none;" tabindex="1"></a></li>
        </ul>
       </div>
     </div>
     </div>

    <script type="text/javascript">
      $(document).ready(function() {
        var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
        {
          mp3: "<%=@article.mp3.url%>",

        }, {
          cssSelectorAncestor: "#cp_container_1",
          swfPath: "/js",
          wmode: "window",
          supplied: "mp3",
          keyEnabled: true
        });
      });
    </script>
</div>



<% if not @article.user == nil %>
  <p class="inicio center-xs">subido por: <%=@article.user.email%></p>
<% else %>
  <p>subido por: cuenta cerrada</p>
<% end %>
<% if not @article.privacida == "Publico" %>

  <% if user_signed_in? and @article.user.id == current_user.id %>
    <div class="center-xs col-md">
      <%=link_to "Editar", edit_article_path(@article), class:"ed"%>
    </div>
  <% end %>

<% elsif user_signed_in? and @article.user.id == current_user.id %>
    <div class="center-xs col-md">
      <%=link_to "Editar", edit_article_path(@article), class:"ed"%>
    </div>
<% end %>
